<p>
  <strong>Card Holder Name:</strong>
  <%= @billing.card_holder_name %>
</p>

<p>
  <strong>Card Number:</strong>
  <%= @billing.card_number %>
</p>

<p>
  <strong>Cvv:</strong>
  <%= @billing.cvv_number %>
</p>

<p>
  <strong>Valid From:</strong>
  <%= @billing.valid_from %>
</p>

<p>
  <strong>Valid Upto:</strong>
  <%= @billing.valid_upto %>
</p>

<p>
  <strong>Card Id:</strong>
  <%= @billing.card_id %>
</p>

<p>
  <strong>Card Type:</strong>
  <%= @billing.card_type %>
</p>

<p>
  <strong>Bank Name:</strong>
  <%= @billing.bank_name %>
</p>


<p>
  <strong>Total Amount:</strong>
  <%= @billing.total_amount %>
</p>

<p>
  <strong>Paid Amount:</strong>
  <%= @billing.paid_amount %>
</p>

<p>
  <strong>Due Amount:</strong>
  <%= @billing.due_amount %>
</p>

 
